body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
}

.dflex {
    display: flex;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    margin: 0 !important;
    width: 1366px;
}

.main {
    background: #EBF2FB;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.3);
    min-height: 90vh;
}

.header {
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    color: #6879BB;
    background: #FFFFFF;
}

.header img {
    position: relative;
    top: 4px;
}

.search {
    font-weight: normal;
    font-size: 14px;
    line-height: 50px;
    color: #999999;
    border-left: 1px solid #D6DCE9;
}

img {
    margin: 0 16px 0 28px;
}

.left-sider {
    padding-top: 22px;
    padding-left: 15px !important;
}

.left-sider span {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #535374;
    margin-left: 15px;
}

.left-sider button {
    margin-top: 22px;
    padding: 6px 24px;
    border: 1px solid #6879BB;
    box-sizing: border-box;
    border-radius: 4px;
    background: #EBF2FB;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #6879BB;
    margin-left: 15px;
}